<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link type="text/css" rel="stylesheet" href="/public/css/styleInHome.css" media="all"> -->
    <link type="text/css" rel="stylesheet" href="/css/styleInHome.css" media="all">

    <title>KundenVerwaltung</title>
</head>

<body>

<%- include('../partials/headerAdmin'); %>

    <main>

    <h1>Kundenverwaltung</h1>


<table>
      <tr>
        <th>ID_K</th>
        <th>ErfasstK</th>
        <th>KundeK</th>
        <th>KundeNummer</th>
        <th>OrtK</th>
        <th>AdresseK</th>
        <th>LandK</th>
      </tr>
      <br>
<% for(var i=0; i < data.length; i++) { %>
    <tr>
        <!--<td><%= i+1 %></td>-->
        <td><%= data[i].ID_K %></td>
        <td><%= data[i].ErfasstK %></td>
        <td><%= data[i].KundeK %></td>
        <td><%= data[i].KundeNummer %></td>
        <td><%= data[i].OrtK %></td>
        <td><%= data[i].AdresseK %></td>
        <td><%= data[i].LandK %>
    </tr>

<% } %>
</table>

    <!--

      -->
      <br>
      <br>

          <table>
            <tr>
              <th>ID_K</th>
              <th>ErfasstK</th>
              <th>KundeK</th>
              <th>KundeNummer</th>
              <th>OrtK</th>
              <th>AdresseK</th>
              <th>LandK</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
            </tr>
          </table>
          <br>
          <br>
          <br>
      <br>
      <br>
<table>
  <tr>
      <td></td>
  </tr>
      </table>

            <tr>blabla
              <td></td>
            </tr>

<!-- https://stackoverflow.com/questions/16660734/html-form-with-multiple-actions -->

    <input type="button" onclick="location.href='/api/v1/inHome/:0001*rTtGwkAwxI6ajLjBmMtZ3w==';" value="go ...v1/InHome/:irgendwas, aber das ist irgendwie falsch, weil im link des Buttons der Admin PW usw" />









    </main>
    <%- include('../partials/footer'); %>
    <!--<footer class="footer-Login">
            <!-- Reihenfolge
            <div style="float: left; background-color: lightgray;"><a class="pCopyRFooterLogin">© C.Tschenet / J.Schmidt</a></div>
            <div style="float: right; background-color: lightgray;"><a class="pDateFooterLogin">Dez. 2022 / Jan. 2023</a></div>
            <div style="margin: 0 auto; width: 100px;"><a>Version 1.0</a></a></div>
    </footer>-->
    <scirpt>
    </script>

</body>

</html>
