<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link type="text/css" rel="stylesheet" href="/public/css/styleInHome.css" media="all"> -->
    <link type="text/css" rel="stylesheet" href="/css/styleInHome.css" media="all">
    <link rel="icon" type="image/png" href="/images/favicon/favicon.png">

    <title>Verladung Erfassen</title>
</head>

<body>

<%- include('../partials/headerAdmin'); %>

    <main>

    <h1>Verladung Erfassen</h1>

    <br>

    <a>hi <%=MaNummerServer%></a>

    <% if(werIstAngemeldetH==='Admin Administrator'){ %>
            <button>Hallo Admin</button>
    <% } %>







 <table id="table">
      <tr>
        <th>ID_E</th>
        <th>VnameE</th>
        <th>NnameE</th>
        <th>DatumE</th>
        <th>UhrzeitE</th>
        <th>WunschDatum</th>
        <th>KundeK</th>
        <th>MengeTo</th>
        <th>ArtikelAnLager</th>
        <th>LSimLeitSystem</th>
        <th>R_K</th>
        <th>ArtikelNichtProd</th>
      </tr>
      <br>

    </table>
<form action="" method="post" class="formAdminHeader">
            Vorname: <input name="erfassenVornameClientEJS" value="<%=vorName%>" type="text" readonly="readonly"/>
            <br>
            Nachname: <input name="erfassenNachnameClientEJS" value="<%=nachName%>" type="text" readonly="readonly"/>
            <br>
            ErfassenDatum: <input name="erfassenDatumClientEJS" value="<%= ("0"+new Date().getDate()).slice(-2)+'.'+("0"+(new Date().getMonth()+1)).slice(-2)+'.'+new Date().getFullYear()%>" readonly="readonly" type="text" />
            <br>
            ErfassenUhrzeit: <input name="erfassenZeitClientEJS" value="<%= new Date().toLocaleTimeString() %>" type="text" readonly="readonly"/>
            <br>
            WunschDatum: <input name="erfassenWunschDatumClientEJS" value="" type="text" /><a id="AusgabeMaNummerFehlerServer"></a>
            <br>
<input type="text" data-role="calendarpicker" data-cls-calendar="compact"
    data-input-format="%d.%m.%y" value="" placeholder="05.03.1997" name="erfasstDatumWunschClientEJS">
            <br>
                        <!--<div class="date">-->
                         WunschDatum: <input type="date" class="inputx" name="erfasstDatumWunschKalenderClientEJS"/>
                        <!--</div>-->
            <br>
            Kunde: <input name="erfassenKundeClientEJS" value="" type="text" />
            <br>
            <br>
            KundenName: <select name="erfassenKundeNameClientEJS">
                          <% for(var i=0; i < data.length; i++) { %>
                             <option name="keinX_AAL" value="<%= data[i].KundenNummer %>">"<%= data[i].KundeK %>, <%= data[i].KundenNummer %>, <%= data[i].OrtK %>, <%= data[i].AdresseK %>, <%= data[i].LandK %>"</option>
                          <% } %>
                        </select>
                        <br>
            <br>
            Menge In Tonnen: <input name="erfasstMengeToClientEJS" value="" type="text" />
            <br>
            Artikel An Lager: <select name="erfasstArtikelAnLagerSelectClientEJS">
                                            <option name="keinX_AAL" value="">"kein X"</option>
                                            <option name="X_AAL" value="X">"X"</option>
                                      </select>
            <br>
            LS im Leitsystem: <select name="erfasstLSImLeitSystemSelectClientEJS">
                                            <option name="keinX_LSILS" value="">"kein X"</option>
                                            <option name="X_LSILS" value="X">"X"</option>
                                      </select>
            <br>
            R_K: <select name="erfasstR_KSelectClientEJS">
                                            <option name="keinX_R_K" value="">"kein X"</option>
                                            <option name="X_R_K" value="X">"X"</option>
                                      </select>
            <br>
            Artikel Nicht Produziert: <input name="erfasstArtikelNichtProdClientEJS" value="" type="text" />
            <br>



            <br>
            <input type="submit"  value="Speichern"  name="ButtonSpeichernEjs"/>
            <input type="submit"  value="Abrechen"  name="ButtonAbrechenEjs"/>
        </form>
    <br>
    <br>


            <form action="" method="post" class="formAdminHeader">
                <input type="submit"  value="Zurück zu Verladungen"  name="ButtonZurueckVerladungenEjs"/>
            </form>

    </main>
    <%- include('../partials/footerAdminUser'); %>
    <!--<footer class="footer-Login">
            <!-- Reihenfolge
            <div style="float: left; background-color: lightgray;"><a class="pCopyRFooterLogin">© C.Tschenet / J.Schmidt</a></div>
            <div style="float: right; background-color: lightgray;"><a class="pDateFooterLogin">Dez. 2022 / Jan. 2023</a></div>
            <div style="margin: 0 auto; width: 100px;"><a>Version 1.0</a></a></div>
    </footer>-->
    <scirpt>
    </script>

</body>

</html>
