<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link type="text/css" rel="stylesheet" href="/public/css/styleInHome.css" media="all"> -->
    <link type="text/css" rel="stylesheet" href="/css/styleInHome.css" media="all">
    <link rel="icon" type="image/png" href="/images/favicon/favicon.png">

    <title>Home</title>
</head>

<body>

<%- include('../partials/headerUser'); %>


   <main>

       <h1>Wellcome <%=werIstAngemeldetH%> inHome</h1>
       <br>
       <a>hi <%=MaNummerServer%></a>
        <a>AvatarFarbe: <%=avatarFarbeServer%></a>

 <table>
      <tr>
        <th>ID_E</th>
        <th>VnameE</th>
        <th>NnameE</th>
        <th>DatumE</th>
        <th>UhrzeitE</th>
        <th>WunschDatum</th>
        <th>KundeK</th>
        <th>MengeTo</th>
        <th>ArtikelAnLager</th>
        <th>LSimLeitSystem</th>
        <th>R_K</th>
        <th>ArtikelNichtProd</th>
      </tr>
      <br>
      <% for(var i=0; i < data.length; i++) { %>
        <tr>
        <!--<td><%= i+1 %></td>-->
        <td><%= data[i].ID_E %></td>
        <td><%= data[i].VnameE %></td>
        <td><%= data[i].NnameE %></td>
        <td><%= data[i].DatumE %></td>
        <td><%= data[i].UhrzeitE %></td>
        <td><%= data[i].WunschDatum %></td>
        <td><%= data[i].KundeK %></td>
        <td><%= data[i].MengeTo %></td>
        <td><%= data[i].ArtikelAnLager %></td>
        <td><%= data[i].LSimLeitSystem %></td>
        <td><%= data[i].R_K %></td>
        <td><%= data[i].ArtikelNichtProd %>
        </tr>
      <% } %>
    </table>

    <br>
    <br>

            <form action="" method="post" class="formAdminHeader">
                <input type="submit"  value="Verladung Erfassen"  name="ButtonVerladungErfassenEjs"/>
            </form>


       </main>
       <%- include('../partials/footerAdminUser'); %>
       <!--<footer class="footer-Login">
               <!-- Reihenfolge
               <div style="float: left; background-color: lightgray;"><a class="pCopyRFooterLogin">© C.Tschenet / J.Schmidt</a></div>
               <div style="float: right; background-color: lightgray;"><a class="pDateFooterLogin">Dez. 2022 / Jan. 2023</a></div>
               <div style="margin: 0 auto; width: 100px;"><a>Version 1.0</a></a></div>
       </footer> -->
       <scirpt>
       </script>

   </body>

   </html>
