<!DOCTYPE html>
<html lang="de">

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Infos zu my Website google suche">

    <!--<link type="text/css" rel="stylesheet" href="/public/css/styleLogin.css" media="all">-->
    <link type="text/css" rel="stylesheet" href="/css/styleLogin.css" media="all">

    <link rel="icon" type="image/png" href="/images/favicon/favicon.png">

        <!-- <link rel="/public/stylesheet" href="styleLogin.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="public/styleLogin.css"> -->
   <!-- <link rel="preload" href="/js/mainLogin.mjs" as="script" /> -->
    <!-- <link  rel="script preload" href="/js/mainLogin.mjs" rel="preload" as="script"> -->

   <!--  <script type="application/json"  src="mainLogin.mjs" defer></script>   -->
    <!-- type="text/javascript" -->
   <!-- <script type="text/javascript"  src="mainLogin.mjs" defer></script> -->
   <!-- <script src='./public/mainLogin.mjs' type="application/json"></script> -->
    <!-- <link type="text/css" rel="stylesheet" href="/public/css/styleLogin.css" media="all"> -->
    <!-- <link src="/css/styleLogin.css" rel="stylesheet" type="text/css"> -->
   <!-- <link href="/css/styleLogin.css" rel="stylesheet" type="text/css"> -->



   <!-- zum Ausprobieren, ev löschen -->
       <!-- the form awesome library is used to add icons to our form -->
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <title>Login-Verkauf_Mubea</title>
</head>




<body>

    <header>
        <div class="MubeaLogo">
            <!--<img src="/images/Mubea_Logo_white_without_transparent.gif" alt="sollte Mubea-LogoBild sein" height="50" class="logo1">-->
            <!--height="50" width="185"-->
            <!--<img src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" class="logo" height="50" width="185">-->
            <a class="aLogo"><img src="/images/Mubea_logo.svg.png" alt="sollte Mubea-LogoBild sein" class="logo"  height="40" width="165"></a>
            <a class="MubeaTrack">Track</a>
        </div>
    </header>

    <main>
    <div class="container">


    <div id="Dreieck">
        <div class="login">
        <form action="/api/v1/login1/" method="post">
            <!--<h1>LOGIN</h1>-->
            <br>
            <br>

            <div class="vierEckLoginBtn">


                <div class="viereckloginGrid">
                     <div class="loginTitle"><a class="titleLoginBar">LOGIN</a><br><br></div>
                          <div class="loginGrid">
                             <label for="username" class="one"><i class="fas fa-user"></i></label>
                             <!--<label class="two">Ma_Nummer:</label>-->
                             <label class="three"><input name="maNummerLEingabe" type="text" id="inputMaNummerL" placeholder="MA_Nummer*"/></label>
                             <a class="four" id="lbAusgabeMaNummerLServer"><%= maNummerLServer %></a>
                             <br>
                             <label for="password" class="oneR"><i class="fas fa-lock"></i></label>
                             <!--<label class="twoR">Passwort:</label>-->
                             <label class="threeR"><input  name="passwortLEingabe" type="password" id="inputPasswortL" placeholder="Passwort*"/></label>
                             <a class="fourR" id="lbAusgabePasswortLServer"><%= passwortLServer %></a>
                          </div>

                     <br>
                     <div class="btnAnmeldenHilfe">
                     <input type="submit" value="Anmelden" class="btnAnmelden"/>
                     <br>
                     <button class="btnHilfe">Hilfe</button>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>


                                <li id="google"><a href="https://www.google.ch/">GOOGLE</a></li>
                                <!-- xClicker sollte eine funktion aufrufen, als Versuch, funktioniert, jedoch wiso sollte button sein? -->
                                <button class = 'btn btn-primary' onclick = "<%= xClicker %>">xClicker</button>

                                    <a>Haaaalllllllo</a>
                                    <button class = 'btnClickyyy' onclick = "myFunctionClicky()">OK</button>
                                    <br>
                                    <a href="#" id="joke" onclick="loadJoke()">Nächsten Witz anzeigen!</a>
                                    <p id="j"></p>


            </div>
        </form>
        </div>
    </div>
    </div>




    <script>
       //helmet muss dafür deaktiviert sein
       //weil es inline ist, müsste hashwert haben zeugs
       //über script wird client seitig ausgeführt
       //for (let i = 0; i < 2; i++) {
           //document.write('<p>hääällööö</p>');
       //}
    </script>




    <!-- das ist hier clientsitiges javascript -->
    <script>
        //console.log("value: "+lbAusgabeMaNummerLServer.value)
        let maNummerServer = <%- JSON.stringify(maNummerLServer) %>
        let passwortLServer = <%- JSON.stringify(passwortLServer) %>
        //console.log("maNummerServer: "+maNummerServer)
        if(maNummerServer === "MA_Nummer gefunden :)"){
            lbAusgabeMaNummerLServer.style.color = "#27b30b"/*"#1e9107"*/ /*"#c8ed10";*/
            lbAusgabeMaNummerLServer.style.fontWeight = "900";
        } else if(maNummerServer === "MA_Nummer falsch :("){
            lbAusgabeMaNummerLServer.style.color = "#e31220";
            lbAusgabeMaNummerLServer.style.fontWeight = "900";
        }
        if(passwortLServer === "Passwort richtig :)"){
            lbAusgabePasswortLServer.style.color = "#27b30b";
            lbAusgabePasswortLServer.style.fontWeight = "900";
        } else if(passwortLServer === "Passwort falsch :("){
            lbAusgabePasswortLServer.style.color = "#e31220";
            lbAusgabePasswortLServer.style.fontWeight = "900";
        }

     </script>



</main>
<footer class="footer-Login">
        <!-- Reihenfolge -->
        <div style="float: left; background-color: lightgray;"><a class="pCopyRFooterLogin">© C.Tschenet / J.Schmidt</a></div>
        <div style="float: right; background-color: lightgray;"><a class="pDateFooterLogin">Dez. 2022 / Jan. 2023</a></div>
        <div style="margin: 0 auto; width: 100px;"><a>Version 1.0</a></a></div>
</footer>

    <!-- <script type="application/json"  src="../public/mainLogin.mjs"></script> -->
    <!-- <script type="application/json"  href="../public/mainLogin.mjs" crossorigin="anonymous"></script> -->
    <script>
        console.log("Ich bin main.js in views, werde aufgerufen durch login.ejs in views und ich stehe in der console vom browser");
        // <script nonce="// cspNonce %>">

        // helmet sagen, das dies erlaubt ist, wenn script von server kommt, also nicht das untere
        //for(let i = 0; i<5;i++){
        //    document.write('<p>hallööö</p>');
        //}

        // helmet muss dafür deaktiviert sein
        // weil es inline ist, müsste hashwert haben zeugs
        // über script wird client seitig ausgeführt
        for(let i = 0; i<5;i++){
            //document.write('<p>hallööö</p>');
        }
        </script>

        <!-- <script type="text/javascript" src="/public/js/mainLogin.mjs"></script> -->
        <script type="text/javascript" src="/js/mainLogin.mjs"></script>
        <!--<script type="module" src="/public/js/mainLogin.mjs"></script>-->

</body>

</html>

<!--
<h1>Mein SSR-Template</h1>
<a>server-side-rendering mit ejs</a>
-->
<!-- <link rel="./public/stylesheet" href="styleLogin.css" type="text/css">  -->
    <!-- <link rel="/public/stylesheet" href="styleLogin.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="public/styleLogin.css"> -->
   <!-- <link rel="preload" href="/js/mainLogin.mjs" as="script" /> -->
    <!-- <link  rel="script preload" href="/js/mainLogin.mjs" rel="preload" as="script"> -->

   <!--  <script type="application/json"  src="mainLogin.mjs" defer></script>   -->
    <!-- type="text/javascript" -->
   <!-- <script type="text/javascript"  src="mainLogin.mjs" defer></script> -->
   <!-- <script src='./public/mainLogin.mjs' type="application/json"></script> -->


<!--
 <div class="vierEckHaupt">
        <div class="triangle">

        </div>
    </div>



    <div class="title1">
      <a href="#">Baustellenbedarf</a>
    </div>

    <div class="container">
      <div class="corner">
        <span>20% Special Offer</span>
      </div>
    </div>

 <div class="vierEckHaupt">
 <div class="jallo">jallooo</div>
        <div class="triangle">

        </div>
    </div>

-->